<div class="blog-image-header container-fluid">
    <div class="divider link purple row">
        <a href="/blog"><div class="col-xs-12">
            <h5>Back to latest posts</h5>
        </div></a>
    </div>
    <div class="row">
        {% if page.image %}
            {% assign full_image = page.image | replace: " (Medium)","" %}
            <div style="width: 100%; height: 50vh; background-image: url('{{full_image}}'); {% if page.header_style == 'center' %} background-position: center; background-repeat: no-repeat; {% else %} background-size: cover; background-position: center; {% endif %}"></div>
        {% else %}
            <div class="pattern1" style="height: 300px;"></div>
        {% endif %}
    </div>
</div>