{% assign filename = include.src | split: '.' %}
{% assign medium_image = filename[0] | append: " (Medium)." | append: filename[1] | uri_escape %}
{% assign full_image = include.src | uri_escape %}

<div class="image {% if include.col != blank %}{{include.col}}{% else %} col-xs-12 {% endif %} no-padding">
    <a target="_blank" class="loading" href="{% if include.absolute_src != 'true' %}/assets/img/blog/{{page.filename}}/{% endif %}{{full_image}}">
        <img width="100%" height="auto" style="margin: 0; padding: 0;" class="b-lazy" data-src="{% if  include.absolute_src != 'true' %}/assets/img/blog/{{page.filename}}/{% endif %}{% if include.medium == blank %}{{medium_image}}{% else %}{{full_image}}{% endif %}" alt="{% if include.description %}{{ include.description }}{% else %} {% endif %}"/>
    </a>
    <h5>{{include.description}}</h5>
</div>