{% assign filename = include.src | split: '.' %}
{% assign medium_image = filename[0] | append: " (Medium)." | append: filename[1] %}

<div class="image" class="{% if include.col != blank %}{{include.col}}{% else %} col-xs-12 {% endif %} no-padding">
    <a href="/assets/img/blog/{{page.filename}}/{{include.src}}">
        <img src="/assets/img/blog/{{page.filename}}/{% if include.medium == blank %}{{ medium_image }}{% else %}{{ include.src }}{% endif %}" alt="{{ include.description }}" style="width: 100%;"/>
    </a>
    <h5>{{include.description}}</h5>
</div>