<div class="container-fluid">
    <div class="row divider-purple">
        <div class="col-xs-12">
            <a href="/blog"><h5>Back to latest posts</h5></a>
        </div>
    </div>
    <div class="blog-footer">
    <div class="row divider">
        <div class="col-xs-12">
            <h3>Related Posts</h3>
        </div>
    </div>
    <div class="row">
            {% if page.media %}
                {% include related_gigs.html horizontal="true" %}
            {% else %}
                <div class="col-xs-12">
                    <p><small>nothing, here's a cat</small></p>
                    <center><img src="http://loremflickr.com/320/240/cat"></center>
                </div>
            {% endif %}
    </div>
</div>