<div class="container-fluid">
    <div class="row divider link purple">
        <a href="/blog"><div class="col-xs-12">
            <h5>Back to latest posts</h5>
        </div></a>
    </div>
    <div class="blog-footer">
    <div class="row divider">
        <div class="col-xs-12">
            <h3>Related Posts</h3>
        </div>
    </div>
    <div class="row">
            {% if page.media %}
                {% include related_gigs.html horizontal="true" no_skip_first_gig="true" %}
            {% else %}
                <div class="col-xs-12">
                    <p><small>nothing, here's a cat</small></p>
                    <center><a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a></center>
                </div>
            {% endif %}
    </div>
</div>