<!--[if lte IE 9]>
<div class="notification"><h3>This site won't work very well in your browser, get a newer one like <a href="https://www.google.com/chrome/">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a>.</h3>
<![endif]-->
<footer id="footer" class="{% if page.layout == 'post' %}post{% endif %}">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<h3>What is this?</h3>
				<p>Obscure and unofficial media from gigs in Dunedin, New Zealand since 2014. <a href="/about/">Wow cool, tell me more!</a><p>
			</div>
			<div class="col-xs-6">
				<h3>Contact</h3>
				<ul>
					<li><a href="https://www.facebook.com/dunedinsound/" target="_blank">Facebook</a></li>
					<li><a href="mailto:fraser@dunedinsound.com">Email</a></li>
				</ul>
			</div>
			<div class="col-xs-12 footer-content">
				<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="/assets/js/main.js"></script>

{% if page.layout == "post" %}
	<script type="text/javascript" src="/assets/js/post.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(event) {
			var container = document.getElementById('sidebar');
			Ps.initialize(container, {
				suppressScrollX: true
			});
    		post.waveformInit();
    	});
		
		document.addEventListener('ps-scroll-down', function () {
			blazy.revalidate();
		})

	</script>
{% endif %}

{% if page.sortable or page.searchable %}
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(event) {
			isotopeConfig.isotopeInit();
		});
	</script>
{% endif %}

{% if page.sortable %}
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(event) {
			isotopeConfig.sortingInit();
		});
	</script>
{% endif %}

{% if page.searchable %}
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(event) {
			isotopeConfig.searchingInit();
		});
	</script>
{% endif %}

{% if page.title == "Get" %}
	<script type="text/javascript" src="/assets/js/waveform_generate.js"></script>
{% endif %}

{% if page.parent == "Venues" %}
	<script>
		var map_el = document.getElementById('map');
		var map = L.map('map', {center: [map_el.dataset.lat, map_el.dataset.lng], zoom: 18, zoomControl: false});
		L.Icon.Default.imagePath = '/assets/js/images';
		L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZnJhc2VydGhvbXBzb24iLCJhIjoiY2llcnF2ZXlhMDF0cncwa21yY2tyZjB5aCJ9.iVxJbdbZiWVfHItWtZfKPQ', {
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		}).addTo(map);
		L.marker([map_el.dataset.lat, map_el.dataset.lng]).addTo(map);
	</script>
{% endif %}

{% if page.title == "Gigs" %}
	<script type="text/javascript">
		var container = document.getElementById('more');
		Ps.initialize(container);
		document.addEventListener('ps-scroll-down', function () {
			blazy.revalidate();
		})
	</script>
{% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75343662-1', 'auto');
  ga('send', 'pageview');
</script>