
<div class="container-fluid">
    <div class="post-header row" style="height: 70vh;">
        {% if page.title == site.posts[0].title %}
            <span class="label label-default" style="margin-left: 15px;">LATEST GIG</span>
        {% endif %}

        <div class="banner">
            {% if site.data.media.gigs[page.title]['_header'] %}
                {% for image in site.data.media.gigs[page.title]['_header']['images'] %}
                    {% assign full_pic = image | replace: " (Medium)","" %}
                    {% assign directory = "assets/img/" | append: page.title | append: "/" | append: '_header' %}
                    {% assign filename = full_pic | split: '/' | last %}
                    <div class ="col-xs-12 col-sm-4 no-padding" style="height: 100%;">
                        <a href="{{site.asset_url}}/{{full_pic | url_encode | replace: '%2F', '/' | replace: '+', '%20'}}" target="_blank" class="loading">
                            <div class="banner b-lazy" data-src="{{site.asset_url}}/{{full_pic | url_encode | replace: '%2F', '/' | replace: '+', '%20'}}"></div>
                        <a/>
                    </div>
                {% endfor %}
            {% else %}
                <div class ="col-xs-12 no-padding" style="height: 100%;">
                    <a href="{{site.asset_url}}/assets/img/{{page.title}}/cover.jpg" target="_blank" class="loading">
                        <div class="banner b-lazy" data-src="{{site.asset_url}}/assets/img/{{page.title}}/cover.jpg"></div>
                    <a/>
                </div>
            {% endif %}
        </div>
        <div class="text">
            <center>
                <h2 class="huge-header">{{page.title}}</h2>
                {% include gig_playlist.html orientation="horizontal" %}
                <small>{{ page.date | date: "%d/%m/%y" }} at <a title="More gigs at {{page.venue}}" class="link light" href="/venues/{{venue_machine_name}}">{{page.venue}}</a></small>
            </center>
        </div>
        <div class="gig-nav">
            {% if page.previous %}
                <a href="{{page.previous.url}}" class="prev" title="Older">&#x203a;</a>
            {% endif %}
            {% if page.next %}
                <a href="{{page.next.url}}" class="next" title="Newer">&#x2039;</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid header sticky">
    <div class="row">
        <div class="col-xs-2">
            <h3>{{page.title}}</h3>
        </div>
        
        {% if page.audio != false %}
            <div class="col-xs-10">
                {% include player.html playerId="_global" playbutton="true" nextbutton="true" playbuttonclass="big" %}
            </div>
        {% endif %}
    </div>
</div>
