<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="black" />
	<title>{% if page.band %} {{ page.band | append: " - " }} {% endif %}{% if page.order %} {{ site.title | escape }} - {{ page.title }} {% elsif page.title %}{{ page.title | escape }} {% else %}{{ site.title | escape }}{% endif %}</title>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css?{{site.time | date: '%s%N'}}" />
	<link rel="prefetch" href="http://i.ytimg.com" />
	<meta property="og:title" content="{{ page.title }}"/>

	{% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}

	{% if page.description %}
		{% assign description = page.description %}
	{% elsif page.layout == "gig" %} 
		{% assign date_long_string = page.date | date_to_long_string %}
		{% assign description = "Photos, audio and video from " | append: page.title | append: " at " | append: page.venue | append: " on " | append: date_long_string %}
	{% elsif page.layout == "band" %}
		{% assign description = "Photos, videos and bootlegs of live performances featuring " | append: page.title %}
	{% elsif page.layout == "venue" %}
		{% assign description = "Photos, videos and bootlegs of live performances at " | append: page.title %}
	{% else %}
		{% assign description = "Rare and unofficial photos, videos and audio of gigs in Dunedin, New Zealand." %}
	{% endif %}

	{% if page.layout == "blog_post" %}
		<script type="application/ld+json">
			{
			"@context": "http://schema.org",
			"@type": "NewsArticle",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "{{url}}"
			},
			"headline": "{{page.title}}",
			"image": {
				"@type": "ImageObject",
				"url": "{{page.image |prepend: site.baseurl | prepend: site.url}}",
				"height": 800,
				"width": 450
			},
			"datePublished": "{{page.date}}",
			"dateModified": "{{page.date}}",
			"author": {
				"@type": "Person",
				"name": "{{page.author}}"
			},
			"publisher": {
				"@type": "Organization",
				"name": "Dunedinsound.com"
			},
			"description": "{{description}}"
			}
		</script>
	{% elsif page.layout == "band" %}
		<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "MusicGroup",
			"url": "{{url}}",
			"name": "{{page.title}}",
			"sameAs": "{% if page.website %} {{page.website}} {% elsif page.bandcamp %} {{page.bandcamp}} {% elsif page.facebook %} {{page.facebook}} {% elsif page.soundcloud %} {{page.soundcloud}} {% endif %}",
			"description": "{{page.title}} is a music artist from {% if page.origin %}{{page.origin}}{% else %}Dunedin, New Zealand{% endif %}.",
			"potentialAction": {
				"@type": "ListenAction",
				"target": [
				{
					"@type": "EntryPoint",
					"urlTemplate": "{% if page.bandcamp %} {{page.bandcamp}} {% elsif page.soundcloud %} {{page.soundcloud}} {% endif %}",
					"actionPlatform": [
					"http://schema.org/DesktopWebPlatform",
					"http://schema.org/IOSPlatform",
					"http://schema.org/AndroidPlatform"
					],
					"InLanguage": "USD"
				}
				]
			}
		}
		</script>
	{% endif %}

	<meta name="description" content="{{description}}"/> 
	<meta property="og:description" content="{{description}}"/> 
	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:url" content="{{ url }}"/>
	<meta property="og:site_name" content="Dunedin Gig Archives{% if page.parent == 'Blog' %} - Blog {% endif %}"/>
	<meta property="og:image" content="{{ page.image |prepend: site.baseurl | prepend: site.url }}"/> 
	<meta property="og:type" content="article"/>
</head>
