<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="black" />
	<title>{% if page.band %} {{ page.band | append: " - " }} {% endif %}{% if page.order %} {{ site.title | escape }} - {{ page.title }} {% elsif page.title %}{{ page.title | escape }} {% else %}{{ site.title | escape }}{% endif %}</title>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
	<meta property="og:title" content="{{ page.title }}"/> 
	<meta name="description" content="Photos, audio and video."/> 
	<meta property="og:description" content="Photos, audio and video."/> 
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
	<meta property="og:site_name" content="Dunedin Gig Archives"/>
	<meta property="og:image" content="{{ page.image }}"/> 
	<meta property="og:type" content="article"/>
</head>
