<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=262795227571986";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="header navbar navbar-default {% if page.fixed_header %} fixed {% endif %} {% if page.double_header %} double {% endif %}" id="site-header" data-scroll-header>
  <div class="container-fluid">
    <div class="navbar-header {% if page.layout != 'post' %} hidden-xs {% endif %}">
        <a class="navbar-brand hidden-xs" href="/"hidden-xs>Dunedin Gig Archives</a>
    </div>
    {% if page.searchable == true %}
    <div class="search navbar-form">
      <div class="input-group">
        <input type="text" class="quicksearch form-control" id="quicksearch" placeholder="Search" autofocus>
      </div>
    </div>
  {% endif %}
    <div id="top-nav" style="text-align: center">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.parent == 'Home' or page.title == 'Home' %}active{% endif %}"><a href="/">Home</a></li>
        <li class="{% if page.parent == 'Gigs' or page.title == 'Gigs' %}active{% endif %}"><a href="/gigs/">Gigs</a></li>
        <li class="{% if page.parent == 'Artists' or page.title == 'Artists' %}active{% endif %}"><a href="/artists/">Artists</a></li>
		    <li class="{% if page.parent == 'Venues' or page.title == 'Venues' %}active{% endif %}"><a href="/venues/">Venues</a></li>
        <li class="{% if page.parent == 'Blog' or page.title == 'Blog' %}active{% endif %}"><a href="/blog/">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>