{% if page.layout == "post" %}
    {% include player.html %}
{% endif %}
<nav class="header navbar navbar-default {% if page.layout == 'default-slim-header' or page.parent == 'Artists' or page.parent == 'Venues' %} slimmed {% endif %}">
  <div class="container-fluid">
    <div class="navbar-header {% if page.layout != 'post' %} hidden-xs {% endif %}">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
          <span id="selectedArtist" style="font-size: 18px; padding-left: 10px;"></span>
      </button>
      {% if page.layout == "post" %}
        <a class="navbar-brand nohover">{{ page.title }} <small>{{ page.date | date: "%D" }}</small></a>
      {% else %}
        <a class="navbar-brand hidden-xs" href="/"hidden-xs>DunedinSound</a>
      {% endif %}
    </div>
    <div id="top-nav" style="text-align: center">
      {% if page.layout == "tiles" and page.searchable == true %}
        <div class="search navbar-form">
          <div class="input-group">
            <input type="text" class="quicksearch form-control" id="quicksearch" placeholder="Search" autofocus>
          </div>
        </div>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.parent == 'Gigs' or page.title == 'Gigs' %}active{% endif %}"><a href="/">Gigs</a></li>
        <li class="{% if page.parent == 'Artists' or page.title == 'Artists' %}active{% endif %}"><a href="/artists/">Artists</a></li>
		    <li class="{% if page.parent == 'Venues' or page.title == 'Venues' %}active{% endif %}"><a href="/venues/">Venues</a></li>
      </ul>
    </div>
  </div>
</nav>