<div id="waveform_wrapper" class="player" data-mp3="{{mp3_link}}" data-machinename="{{machine_name}}" data-bandindex="{{bandindex}}">

    <button title="Play/Pause" class="btn btn-success play-pause playButton" data-index="{{ forloop.index | minus: 1 }}">
        <span class="play">▶</span>
        <span class="pause" style="display: none">❙❙</span>
    </button>

    <div class="length-wrapper" style="left: 40px; display: none;">
        <span class="currentTime"></span>
    </div>
    
    <div class="waveform" id="waveform_{{machine_name}}"></div>

    <div class="title-wrapper">
        <h4>{{mp3.title}}</h4>
    </div>
    <div class="length-wrapper" style="right: 0px; display: none;">
        <span class="length"></span>
    </div>
</div>
