<button title="{% unless include.title %} Play/Pause {% else %} {{include.title}} {% endunless %}" class="btn btn-success play-pause playButton {{include.class}}" data-mp3="{{ include.mp3 }}" data-bandname="{{include.band_name}}" style="{% if include.position == 'static' %} position: static; {% endif %}" id="{% if include.universal %}universalPlayButton{% endif %}">
    <span data-mp3="{{ include.mp3 }}" data-bandname="{{include.band_name}}" class="play">▶</span>
    <span data-mp3="{{ include.mp3 }}" data-bandname="{{include.band_name}}" class="pause" style="display: none">❙❙</span>
</button>
