{% if mp3_link != "" %}
<div id="waveform_wrapper">

    <button title="Play/Pause" class="btn btn-success play-pause playButton" data-index="{{ forloop.index | minus: 1 }}">
        <span class="play">▶</span>
        <span class="pause" style="display: none">❙❙</span>
    </button>

    <div class="length-wrapper" style="left: 40px;">
        <span class="currentTime"></span>
    </div>
    <div class="waveform" id="waveform_{{machine_name}}" data-mp3="{{mp3_link}}"></div>
    <div class="length-wrapper" style="right: 0px;">
        <span class="length"></span>
    </div>
</div>
{% else %}
<div id="waveform_wrapper" style="opacity: 0; height: 0;">
    <button class="play-pause playButton"></button>
    <span class="currentTime"></span>
    <div class="waveform" id="waveform_{{machine_name}}" data-mp3=""></div>
    <span class="length"></span>
</div>
{%endif %}