{% comment %}

Displays gigs related to a post.

It expects page.media to exist and be a list of band machine names.

Parameters:

- no_skip_first_gig: By default it skips the first gig. This will prevent that from happening.
- horizontal: Displays horizontally instead of vertically.

{% endcomment %}

{% assign number_of_bands = 0 %}

{% for band in page.media %}

    {% assign band_machine_name = band[1].machine_name %}
    {% assign cutoff = 1 %}
    {% assign gigs_number = site.categories[band_machine_name].size %}

    {% if include.no_skip_first_gig %}
        {% assign cutoff = 0 %}
    {% endif %}

    {% if gigs_number > cutoff %}
        {% assign number_of_bands = number_of_bands | plus: 1 %}
    {% endif %}

{% endfor %}

{% if number_of_bands == 1 %}
    {% assign size_class = "col-xs-12 col-md-6 col-md-offset-3" %}
{% elsif number_of_bands == 2 %}
    {% assign size_class = "col-xs-6 col-md-4" %}
{% elsif number_of_bands == 3 %}
    {% assign size_class = "col-xs-6 col-md-3" %}
{% else %}
    {% assign size_class = "col-xs-6 col-md-3 col-lg-2" %}
{% endif %}

{% for band in page.media %}
    {% assign band_machine_name = band[1].machine_name %}
    {% assign gigs_number = site.categories[band_machine_name].size %}
    {% assign gigs_not_displayed = site.categories[band_machine_name].size | minus: 3 %}
    {% assign photos_number = site.data.media.gigs[page.title][band_machine_name]['count'] %}

    {% assign cutoff = 1 %}
    {% if include.no_skip_first_gig %}
        {% assign cutoff = 0 %}
    {% endif %}

    {% if gigs_number > cutoff %}
        <div id="moreFrom_{{band_machine_name}}" class="moreFrom {% if include.horizontal %} {{size_class}} {% endif %}">
            <div style="padding-top: 10px;">
                <p>Gigs featuring <a title="More gigs from {{band[0]}}" href="/artists/{{band_machine_name}}">{{band[0]}}</a></p>
            </div>
            {% for tile in site.categories[band_machine_name] | limit: 3 %}
                {% unless tile.title == page.title %}

                    {% if site.data.media.gigs[tile.title][band_machine_name]['images'].size %}
                        {% assign image_link = site.data.media.gigs[post.title][band_machine_name]['images'][0] | uri_escape %}
                    {% else %}
                        {% assign image_link = "" %}
                    {% endif %}

                    {% include gig_tile.html class="bottom" sizing="" category="band" image=image_link %}

                {% endunless %}
            {% endfor %}
            
            {% if gigs_not_displayed > 0 %} 
                <a style="float:right; padding-right: 10px;" title="More gigs from {{band[0]}}" href="/artists/{{band_machine_name}}"><small> + {{gigs_not_displayed}} more </small></a>
            {% endif %}

        </div>
    {% endif %}
{% endfor %}

{% if page.venue %}

    {% assign venue_machine_name = page.venue | downcase | machine_name %}
    {% assign venue_gigs = site.posts | where: "venue", page.venue  %}
    {% assign gigs_number = venue_gigs | size %}
    {% assign gigs_not_displayed = gigs_number | minus: 3 %}

    {% if venue_gigs.size > 1 %}
    <div id="moreFrom_{{venue}}" class="moreFrom {% if include.horizontal %} {{size_class}} {% endif %}">
        <div style="padding-top: 10px;">
            <p>Gigs at <a title="More gigs at {{venue}}" href="/venues/{{venue_machine_name}}">{{page.venue}}</a></p>
        </div>

        {% for tile in venue_gigs limit: 3 %}

            {% unless tile.title == page.title %}

                {% include gig_tile.html class="bottom" sizing="" category="venue" %}

            {% endunless %}

        {% endfor %}
        
        {% if gigs_not_displayed > 0 %} 
            <a style="float:right; padding-right: 10px;" title="More gigs at {{page.venue}}" href="/venues/{{venue_machine_name}}"><small> + {{gigs_not_displayed}} more </small></a>
        {% endif %}
    </div>
    {% endif %}
{% endif %}