{% assign number_of_bands = 0 %}

{% for band in page.media %}
    {% assign band_machine_name = band[1].machine_name %}
    {% assign cutoff = 1 %}
    {% assign gigs_number = site.categories[band_machine_name].size %}
    {% if include.no_skip_first_gig %}
        {% assign cutoff = 0 %}
    {% endif %}

    {% if gigs_number > cutoff %}
        {% assign number_of_bands = number_of_bands | plus: 1 %}
    {% endif %}
{% endfor %}

{% if number_of_bands == 1 %}
{% assign size_class = "col-xs-6" %}
{% else if number_of_bands == 2 %}
{% assign size_class = "col-xs-6 col-sm-4" %}
{% else if number_of_bands == 3 %}
{% assign size_class = "col-xs-6 col-sm-3" %}
{% else %}
{% assign size_class = "col-xs-6 col-sm-4" %}
{% endif %}

{% for band in page.media %}
    {% assign band_machine_name = band[1].machine_name %}
    {% assign gigs_number = site.categories[band_machine_name].size %}
    {% assign gigs_not_displayed = site.categories[band_machine_name].size | minus: 3 %}
    {% assign photos_number = site.data.media.gigs[page.title][band_machine_name]['count'] %}

    {% assign cutoff = 1 %}
    {% if include.no_skip_first_gig %}
        {% assign cutoff = 0 %}
    {% endif %}

    {% if gigs_number > cutoff %}
        <div id="moreFrom_{{band_machine_name}}" class="moreFrom {% if include.horizontal %} {{size_class}} {% endif %}">
            <div style="padding-top: 10px;">
                <p>Gigs featuring <a title="More gigs from {{band[0]}}" href="/artists/{{band_machine_name}}">{{band[0]}}</a></p>
            </div>
            {% for post in site.categories[band_machine_name] | limit: 3 %}
                {% unless post.title == page.title %}
                    <div class="tile-wrap bottom">
                        <a class="tile-link box" href="{{ post.url }}#{{band_machine_name}}">
                            <div class="tile-title">
                                <h5><small>{{post.date | date: "%d %b %Y"}}</small></h5>
                                <h5 style="margin-bottom: 2px;">{{post.title}}</h5>
                                <p><small>{{ post.venue }}</small></p>
                            </div>
                            {% if site.data.media.gigs[post.title][band_machine_name]['images'].size %}
                            <div class="tile b-lazy" data-src="{{site.asset_url}}/{{site.data.media.gigs[post.title][band_machine_name]['images'][0] | uri_escape }}">
                            {% else %}
                            <div class="tile b-lazy" data-src="{{site.asset_url}}/assets/img/{{post.title | uri_escape }}/cover.jpg">
                            {% endif %}
                            </div>
                        </a>
                    </div>
                {% endunless %}
            {% endfor %}
            
            {% if gigs_not_displayed > 0 %} 
                <a style="float:right; padding-right: 10px;" title="More gigs from {{band[0]}}" href="/artists/{{band_machine_name}}"><small> + {{gigs_not_displayed}} more </small></a>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

{% if page.venue %}
    {% assign venue_machine_name = page.venue | downcase | machine_name %}
    {% assign venue_gigs = site.posts | where: "venue", page.venue  %}
    {% assign gigs_number = venue_gigs | size %}
    {% assign gigs_not_displayed = gigs_number | minus: 3 %}

    {% if venue_gigs.size > 1 %}
    <div id="moreFrom_{{venue}}" class="moreFrom {% if include.horizontal %} {{size_class}} {% endif %}">
        <div style="padding-top: 10px;">
            <p>Gigs at <a title="More gigs at {{venue}}" href="/venues/{{venue_machine_name}}">{{page.venue}}</a></p>
        </div>

        {% for post in venue_gigs limit: 3 %}
            {% unless post.title == page.title %}
                <div class="tile-wrap bottom">
                    <a class="tile-link box" href="{{ post.url }}">
                        <div class="tile-title">
                            <h5><small>{{post.date | date: "%d %b %Y"}}</small></h5>
                            <h5>{{post.title}}</h5>
                        </div>
                        <div class="tile b-lazy" data-src="{{site.asset_url}}/assets/img/{{post.title | uri_escape }}/cover.jpg">
                        </div>
                    </a>
                </div>
            {% endunless %}
        {% endfor %}
        
        {% if gigs_not_displayed > 0 %} 
            <a style="float:right; padding-right: 10px;" title="More gigs at {{page.venue}}" href="/venues/{{venue_machine_name}}"><small> + {{gigs_not_displayed}} more </small></a>
        {% endif %}
    </div>
    {% endif %}
{% endif %}