<div class="col-md-12 col-lg-1 extra-links">
    <ul class="nav navbar-nav navbar-right" style="width: 100px;">
        <li></li>
        <li class="dropdown" id="moreFromArtist" style="z-index: 999;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="z-index: 999;" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
        <ul class="dropdown-menu" style="right: 0; left: initial;">
            <li><a title="Artist Facebook" href="" id="facebookButton" target="_blank">Facebook</a></li>
            <li><a title="Artist Bandcamp" href="" id="bandcampButton" target="_blank">Bandcamp</a></li>
            <li><a title="Artist Page" href="" id="artistButton" target="_blank">Other gigs</a></li>
        </ul>
        </li>
    </ul>
</div>
