<div>
    {% if include.vanilla != "true" %}
    <div class="box youtube {{include.aspectratio}}" data-link="{{include.link}}">
        <div class="placeholder_content">
            <h4>Video{% if include.title %}: {{include.title}}{% endif %}</h4>
            <img src="http://i.ytimg.com/vi/{{include.link}}/maxresdefault.jpg" width="100%" height="auto" style="margin: 0; padding: 0;"/>
        </div>
    </div>
    {% else %}
        <div id="youtube_container" style="width: 100%; margin-bottom: 15px;">
            <iframe id="youtube_embed" style="top: 0; left: 0; height: 100%;" src="https://www.youtube.com/embed/{{include.link}}/?autoplay=0&autohide=1&vq=hd720{{if include.start }}&start={{include.start}}{{endif}}" frameborder='0' allowfullscreen="yes"></iframe>
        </div>
    {% endif %}
</div>