#waveform {
	opacity: 1;
    -webkit-transition: opacity 250ms ease-in-out;
   -moz-transition: opacity 250ms ease-in-out;
        transition: opacity 250ms ease-in-out;
}

.length-wrapper {
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
	position: absolute;
	top: 20px;
}

#waveform_wrapper {
	height: $header-height;
    width: 100%;
    top: ($header-height * 2) - 20;
	position: absolute;
}

@media (min-width:768px) {
    #waveform_wrapper {
        opacity: 0;
        width: auto;
        top: 0px;
	    left: $sidebar-width;
        right: 220px;
    }
}