.waveform {
	opacity: 1;
    -webkit-transition: opacity 250ms ease-in-out;
   	-moz-transition: opacity 250ms ease-in-out;
	transition: opacity 250ms ease-in-out;
	width: 100%;
	position: relative;
}

.player-timestamp {
	cursor: pointer;
}

region.wavesurfer-region {
	cursor: pointer !important;
	width: 2px !important;
	z-index: auto !important;
	background-color: rgb(0, 126, 245) !important;
}

region.wavesurfer-region:hover::after {
	background-color: rgba(255,255,255,1);
	z-index: 4 !important;
	max-width: 1000px;
}

region.wavesurfer-region::after {
    content: attr(data-region-label);
	z-index: 3 !important;
    -webkit-transition: background-color 100ms ease-in-out;
   	-moz-transition: background-color 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;
	position: absolute;
	top: 0;
	color: black;
	background-color: rgba(255,255,255,0.5);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 80px;
	font-size: 12px;
	line-height: 85%;
}

.length-wrapper {
	background: black;
	color: #999999;
	z-index: 10;
	font-size: 12px;
	position: absolute;
	bottom: 20px;
}

.title-wrapper {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0px;
	height: 20px;
	z-index: 10;
	color: black;
	font-size: 12px;

	.text {
		background-color: white;
	}
}

#waveform_wrapper {
	height: 60px;
	opacity: 1;
	width: 100%
}
.player {

	.progress {
		position: absolute;
		z-index: 1000;
		top: 50%;
		transform: translateY(-50%);
	}

	.progress[value] {
		color: #0074d9;
		border: 0;
	}

	&.active {
		.title-wrapper {
			color: black;
		}
	}
}

@media (min-width:768px) {
    #waveform_wrapper {
        opacity: 1;
    }
}

.playButton, #universalPlayButton {
	border-radius: 50%;
	position: absolute;
	left: 3px;
	z-index: 5;
	width: 35px;
	top: 13px;
	font-size: 12px;
	background-color: white;

	.glyphicon {
		top: 2px;
		right: 1px;
	}

	&:active, &:focus {
		outline: 0;
	}

	&.big {
		font-size: 16px;
		width: 40px;
		top: 11px;
	}

	&.playing {
		color: white !important;
		background-color: orange !important;
		background-image: none;
		border-color: darkorange !important;
		
		&:hover {
			background-color: #ffd280 !important;
		}
	}
}