.blog {
    background-color: #f6f6f6;
    
    .container {
         background-color: white; 
         color: black;
         p{
            font-size: 18px;
         }
    }

    h1, h2, h3, h4, a {
        color: black;
    }
}