.blog {
    background-color: white;
    color: black;

    ul, p{
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    ul, p, h1, h2, h3, h4 {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
    }

    h1, h2, h3, h4, a {
        color: black;
    }

}

.label-blog {
    position: static;
    background-color: black;
    color: white;
}

.blog-header {
    margin-bottom: 20px;
}

.blog-footer {
    min-height: 300px;
    margin: 15px;
}

.divider-purple {
    background-color: mediumslateblue;
    padding-top: 1px;
    padding-bottom: 1px;

    h5 {
        color: white;
        font-weight: bolder;
        margin-left: 15px;
    }
}

.no-padding h5 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
}

.pattern1 {
    background: 
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    background-color: slategray;
    background-size:75px 100px;
    width: 100%;
}