@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Work+Sans');

$header-height: 60px;
$sidebar-width: 250px;
$main-font: 'Work Sans', sans-serif;
$header-font: 'Hammersmith One', sans-serif;
$highlight-color: white;
$highlight-text-color: black;

@mixin hover-grow($scale) {
	-moz-transform: scale($scale,$scale);
    -webkit-transform: scale($scale,$scale);
    transform: scale($scale,$scale);
}

body {
	background-color: #222222;
	font-family: $main-font;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}


.right {
	right: 0px;
}

.center {
	margin: 0 auto;
	float: none;
}

.page-content {
	padding: 0px;
	min-height: 100vh;
	background-color: #222222;
}

.page-wrapper {
	margin-top: ($header-height * 2) - 20;

	&.slimmed-header {
		margin-top: $header-height - 20;
	}

	height: 100%;
	width: 100%;
}

.no-margin-padding {
	margin: 0 !important;
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-left-right {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.cover-the-top {
	top: -20px;
	position: relative;
	z-index: 9006;
}


a {
   outline: 0;
}

footer {
	z-index: 9999;
	height: 300px;
	border-top: 40px solid white;
	background-color: black;

	.container {
		background-color: black;
	}

	.footer-content {
		margin-top: 80px;
	}
}

 h4, h5, h6, p {
	font-family: $main-font;
}

h1, h2, h3 {
	font-family: $header-font;
}


.fill-height
{
  display: flex;
  flex-direction: column;
}
.fill-height > div {
  flex: 1;
}

.btn-success {
	background-color: $highlight-color;
	color: $highlight-text-color;
	background-image: none;
	border-color: #222222 !important;
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		background-color: #555555 !important;
		background-image: none;
	}
}

.btn-default {
	background-color: #3a3f44 !important;
	background-image: none;
	border-color: #3a3f44 !important;
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		background-color: #232628 !important;
		background-image: none;
	}
}

.facebookColor {
	color: #4267b2;
}

.btn-facebook {
	background-color: #4267b2 !important;
	background-image: none;
	border-color: #4267b2 !important;
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		background-color: #365899 !important;
		background-image: none;
	}
}

.btn-bandcamp {
	background-color: #477987 !important;
	background-image: none;
	border-color: #104351 !important;
	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		background-color: #285E6D !important;
		background-image: none;
	}
}

.hover-grow span {
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hover-grow:hover span {
	@include hover-grow(1.1);
}

.hover-img {
	overflow: hidden;
}

.hover-img img {
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hover-img:hover img {
	@include hover-grow(1.04);
}

.trippy {
	z-index: 1000;
	display: inline-block;
	color: white;
	transition: all 0.2s ease-in-out; 
}

.trippy:hover {
	color: limegreen;
	text-decoration: none;
	transform: scaleY(10) scaleX(5) rotateX(360deg) translateX(20px);
}

.trippy2 {
	display: inline-block;
	z-index: 1000;
	color: #0ce3ac;
	transition: all 0.2s ease-in-out; 
}

.trippy2:hover {
	text-decoration: none;
	transform: skewY(10deg) scaleY(5) scaleX(10) rotateZ(360deg) translateX(0px);
}
@media (min-width:768px) {

	.page-wrapper {
		margin-top: $header-height;

		&.slimmed-header {
			margin-top: $header-height;
		}

	}
	
	.col-md-offset-3-right {
		margin-right: 25%;
	}

	.cover-the-top {
		position: static;
		z-index: auto;
	}
}
