.navbar-brand {
	overflow:hidden;
	white-space: nowrap;
    float: right;
	width: 50%;
	text-overflow: ellipsis;

	&.slim {
		width: auto;
	}
}

.search {
	margin-top: $header-height - 20;
	width: 100%;
	position: absolute;

	.input-group {
		width: 100%;
	}

	input {
		background-color: #333333;
		color: white;
	}

	input:focus {
		border-color: white;
	}
}

#top-nav {
	background-color: #222222;
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 0px;
	width: 100%;
	height: $header-height - 20;

	ul {
		margin: 0px;
	}

	li>a {
		margin-right: -6px;
		height: $header-height - 20;
		line-height: ($header-height - 20) / 2;
	}
}

.navbar-toggle {
    float: left !important;
}

.nav>li {
	display: inline-block;
}

.sorting {
	position: absolute;
	left: 0px;
	z-index: 2000;
	opacity: 1;
	-webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

.header .navbar-nav {
	margin-bottom: 0px !important;
}

.navbar a, .nav.navbar-nav a {
	line-height: 30px;
	height: 60px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:active {
	background-color: rgba(0,0,0,0.3) !important;
}

.header {
	margin-bottom: 0px;
	height: ($header-height * 2) - 20;
    position: fixed;
    z-index: 9000;
	top: 0px;
	overflow: hidden;
	width: 100%;
	background-color: rgba(0,0,0,1) !important;
	background-image: none !important;
	-webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;

	&.slimmed {
		height: $header-height - 20;

		#top-nav {
			height: 40px;
			li>a {
				height: 40px;
				line-height: 20px;
			}
		}

	}

	&.dimmed {
		background-color: rgba(0,0,0,0.3) !important;
	}

	.playButton {
		position: absolute; 
		z-index: 20; 
		top: 20px;
		border-radius: 50%;
		font-size: 20px;
		padding: 0px;
		width: 38px;
		height: 38px;
	}

	.brand {
		cursor: pointer;
		margin-left: 0px !important;
		padding-left: 0px !important;
	}

	.navbar-text {
		line-height: 20px;
		position: absolute;
		right: 15px;
		top: 0px;
		margin: 0px;
	}

	.dropdown-menu {
		background-color: black !important;
	}

}

.navbar-header {
	padding-top: $header-height - 20;
}

#header {
	padding-top: 50px;
	height: 140px;
}

#navbar-collapse {
	padding-right: 0px !important;
}

.header-title {
	line-height: $header-height/2;
	height: $header-height;
	font-size: 18px;
	display: inline-block;
	color: white;
	padding: 15px 15px;
}

@media (min-width:768px) {
	#header {
		padding-top: 0px;
		height: $header-height;
	}
	
	.header {
		&.slimmed {
			height: $header-height;
			#top-nav {
				li>a{
					height: $header-height;
					line-height: $header-height / 2;
				}
			}
		}
	}

	.search {
		margin-top: 10px;
		width: auto;
		left: $sidebar-width;
		right: $sidebar-width;
	}

    .header {
		height: $header-height;
        z-index: 1000;

		.navbar-text {
			line-height: $header-height;
			top: auto;
		}
	}

	.fixed {
		position: fixed !important;
		z-index: 9000;
	}

	#top-nav {
		height: $header-height;
		width: auto;
		margin-right: -15px;
		background-color: black;
		position: static;

		li>a{
			margin-right: 0px;
			height: $header-height;
			line-height: $header-height / 2;
		}
	}
	.nav.navbar-nav {
		li {
			height: $header-height;
		}

		a {
			line-height: $header-height / 2;
			height: $header-height;
		}
	}
	
	.navbar-header {
		padding-top: 0px;
		a {
			line-height: $header-height / 2;
			height: $header-height;
		}
	}

	.navbar-brand {
        float: left;
		width: auto;
        &.slim {
			padding: 0px;
			white-space: pre-wrap;
			letter-spacing: -2px;
            width: 240px;
        }
    }
}