h1.huge-header {
	font-size: 10em !important;
    text-align: center;
	color: white;
    text-transform: uppercase;
}

h2.huge-header {
	font-size: 3em !important;
	text-align: center;
	color: white;
    text-transform: uppercase;
}



@media screen and (max-width: 1920px) {
	h1.huge-header {
		font-size: 8em !important;
	}
}

@media screen and (max-width: 1366px) {
	h1.huge-header {
		font-size: 5em !important;
	}

	h2.huge-header {
		font-size: 1.5em !important;
		text-align: center;
		color: white;
		text-transform: uppercase;
	}

}

@media screen and (max-width: 640px) {
	h1.huge-header {
		font-size: 2.5em !important;
	}
	h2.huge-header {
		font-size: 1.5em !important;
		text-align: center;
		color: white;
		text-transform: uppercase;
	}
}

.post-header {
	height: 30vh;
	overflow:hidden;
	
	.text {
	    position: absolute;
		width: 85%;
		z-index: 1000;
		margin-top: 30px;
		padding: 10px;
	    top: $header-height - 20;
		background: rgba(0,0,0,0.8);
		left: 50%;
    	transform: translate(-50%, 0);
		a:hover {
			text-decoration: none;
		}
	}

	.banner {
		width: 100%; 
		height: 100%;
		overflow: hidden;
		background-size: cover; 
		background-position: center;

		.overlay {
			width: 100%;
			margin: 0 auto;
			position: absolute;
	    	top: $header-height - 20;
			z-index: 1000;
		}
	}

	.banner::-webkit-scrollbar { 
	    display: none; 
	}
}

.social-links {
	font-weight: bold;

	a {
		border-radius: 5px;
		color: white;
	}
}
@media (min-width:768px) {

	.post-header {
		height: 50vh;
		
		.text {
		    position: absolute;
			top: 60px;
			width: auto;
		}

		.banner {

			 .overlay {
				 top: $header-height;
			 }
		}
	}

}