.gig-sorting {
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
	height: 100%;
	position: fixed;
	width: 100px;
	left: 0;

	&.visible {
		visibility: visible;
	  	opacity: 1;
	}
}

#more {
	position: static;
	height: 100%;
}

.tiles.container-fluid.gigs {
	padding-left: 115px;

	.tile-wrap .post-link .tile-title {
		width: 100%;
	}
}

.nav-custom {
	a {
		border-left: 2px solid rgba(0, 0, 0, 0);
		box-sizing: border-box;
		color: #999999;
	}

	li {
		box-sizing: border-box;
		border-left: 2px solid rgba(0, 0, 0, 0);
	}

	.year > a {
		font-weight: bold;
		font-size: 16px;
		border-left: 2px solid white;

	}

	li.active {
		border-left: 2px solid green;
	}

	li.active > a {
		color: white !important;
	}
}

@media (min-width:768px) {
	#more {
		position: relative;
		overflow: auto;
		height: 96vh;
	}
}

.year-title {
	background-color: white;
	color: black;
}

.month-title {
	background-color: black;
}