.gig-sorting {
	background-color: $header-color;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	width: 0vw;
	top: ($header-height * 2) + 20;
	left: 0;
	z-index: 1000;
	

	&.scrolled {
		top: 0px;
	}

	&.visible {
		  visibility: visible;
		  opacity: 1;
		  width: 60vw;
	}
}

#more {
	position: static;
	height: 100%;
}

.tiles.container-fluid.gigs {

	padding-left: 15px;

	.tile-wrap .post-link .tile-title {
		width: 100%;
	}

}

.nav-custom {
	a {
		border-left: 2px solid rgba(0, 0, 0, 0);
		box-sizing: border-box;
		color: #999999;
	}

	li {
		width: 100%;
		box-sizing: border-box;
		border-left: 2px solid rgba(0, 0, 0, 0);
	}

	.year > a {
		font-weight: bold;
		font-size: 16px;
		border-left: 2px solid white;
	}

	li.year-active {
		border-left: 2px solid green;
		background-color: #222;

		> a {
			background-color: white;
			color: black;
		}
	}

	li.active {
		background: rgba(0,0,0,0.4);
		> a {
			color: white;
		}
	}

}

#collapseButton {
	position: fixed;
	top: 0;
	z-index: 1001;
	color: black;
	height: 42px;
	background-color: white;
	background-image: none;
}

@media (min-width:768px) {
	#more {
		position: relative;
		overflow: hidden;
	}
	
	.gig-sorting {
		width: $sidebar-width;
		top: $header-height + 20;
		z-index: auto;
	}

	.tiles.container-fluid.gigs {
		padding-left: $sidebar-width + 15;
	}
}

.year-title {
	background-color: white;
	color: black;
}

.month-title {
	background-color: black;
}