.gig-sorting {
	position: fixed;
	width: 100px;
	z-index: 5000;
	left: 0px;

	background-color: rgba(0,0,0,0.4);
	-webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;

	&.visible {
		visibility: visible;
	  	opacity: 1;
	}
}

.nav-custom {
	a {
		border-left: 2px solid rgba(0, 0, 0, 0);
		box-sizing: border-box;
		color: #999999;
	}

	li {
		box-sizing: border-box;
		border-left: 2px solid rgba(0, 0, 0, 0);
	}

	.year > a {
		font-weight: bold;
		font-size: 16px;
		border-left: 2px solid white;

	}

	li.active {
		border-left: 2px solid green;
	}

	li.active > a {
		color: white !important;
	}
}

@media (min-width:768px) {
	// .gig-sorting {
	// 	display: block;
	// 	position: static;
	// 	z-index: auto;
	// 	overflow: auto;
	// 	height: 100%;
	// }
}

.year-title {
	background-color: white;
	color: black;
}