.playlist-item {

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		background-color: rgba(255,255,255,0.1) !important;
		background-image: none;
	}
}

.playButton {
	border-radius: 50%;
	position: absolute;
	left: 3px;
	font-size: 16px;

	&.playing {
		color: white !important;
		background-color: orange !important;
		background-image: none;
		border-color: darkorange !important;
	}
}

.downloadButton {
	color: white;

	&:hover {
		color: orange !important;
	}
}