.playlist-item {

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active {
		background-color: rgba(255,255,255,0.1) !important;
		background-image: none;
	}
}

.downloadButton {
	color: white;

	&:hover {
		color: orange !important;
	}
}