
/* Really tiny */
@media (max-width: 420px) {

	h2 {
		font-size: 20px;
	}
}

/* Desktop size */
@media (min-width:768px) {

	h1 {
		font-size: 4em !important;
	}

	.gig-sorting {
		display: block;
		overflow: auto;
		height: 100%;
	}

	#header {
		padding-top: 0px;
		height: $header-height;
	}


    .header {
		height: $header-height;
        z-index: 0;
	    position: absolute;

		.navbar-text {
			line-height: $header-height;
			top: auto;
		}
	}

	.nav.navbar-nav {
		li {
			height: $header-height
		}

		a {
			line-height: $header-height / 2;
			height: $header-height;
		}
	}
	
	.navbar-header {
		a {
			line-height: $header-height / 2;
			height: $header-height;
		}
	}

    #waveform_wrapper {
        opacity: 0;
        width: auto;
        top: 0px;
	    left: $sidebar-width;
        right: 220px;
    }

	.tile-wrap {
		height: 350px;
	}

	.tile-title {
		text-align: left !important;
		padding-top: 10px;

		h4 {
			text-align: left !important;
		}

		padding-left: 15px;
	}

    #menu-toggle {
        display: none;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    .sidebar-wrapper {
        position: absolute;
        top: 0px;
        float: left;
        width: $sidebar-width;
    }

    #wrapper.toggled .sidebar-wrapper {
        width: 0;
    }

    .page-content {
        margin-left: $sidebar-width;
        padding: 0px 0px 0px 0px;
    }

    #post-page {
        top: $header-height;
    }

    .navbar-brand {
        float: left;
        &.slim {
            width: 240px;
        }
    }
    #wrapper.toggled .page-content {
        position: relative;
        margin-right: 0;
    }


	.post-header {
		.text {
		    position: absolute;
		    z-index: 100;
		    top: 0px;
		    width: 100%;
		}

		.banner {
			 overflow: auto;
		}

	}
}
