
/* Really tiny */
@media (max-width: 420px) {

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}
}

/* Desktop size */
@media (min-width:768px) {

	h1 {
		font-size: 4em !important;
	}

	.tile-wrap {
		height: 350px;
	}

	.tile-title {
		text-align: left !important;
		padding-top: 10px;

		h4 {
			text-align: left !important;
		}

		padding-left: 15px;
	}

    #menu-toggle {
        display: none;
    }

    .page-content {
        margin-left: $sidebar-width;
        padding: 0px 0px 0px 0px;
    }

}
