.sidebar-nav {
    top: 0;
    width: $sidebar-width;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
    	padding-right: 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
  		overflow: hidden;
    }

	&.lighter {
		background-color: #222222;
	}

	a.active {
		background-color: $highlight-color !important;
		color: $highlight-text-color !important;
	}

	li {
		small {
			color: hotpink;
		}
	}
}

.sidebar-wrapper {
    z-index: 3000;
	background-color:black;
    width: $sidebar-width;
    position: fixed;
	height: 0;
 	overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
	overflow-y: auto;

	&.scrolled {
		top: ($header-height * 2) - 20 !important;
	}

	.moreFrom {
		background-color: black;
		padding-left: 10px; 
		padding-right: 10px;
		padding-bottom: 20px;
	}

    &.in {
        height: 80%;
    }
}

.nice-scrollbar::-webkit-scrollbar {
  width: 5px;
}
 
.nice-scrollbar::-webkit-scrollbar-track {
  background: #ddd;
}
 
.nice-scrollbar::-webkit-scrollbar-thumb {
  background: #666; 
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;

    &.indent {
    	text-indent: 40px;

    }

    &.indentMore {
    	text-indent: 60px;
    	background-color: black;

		& a{
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	    &.active {
		    background-color: #070707;
	    }

    }

    &.active {
	   	text-decoration: none;
	    background-color: #222222;
    	a {
	    	color: #fff;
    	}
    }

    a {
	    display: block;
	    text-decoration: none;
	    color: #999999;
    }

    a:hover {
	    text-decoration: none;
	    color: #fff;
	    background: rgba(255,255,255,0.1);
	}

	a:active, a:focus {
    	text-decoration: none;
	}

}

#menu-toggle {
	padding-left: 0px;
	position: fixed;
	display: initial;
	z-index: 2001;
	-webkit-transition: padding-left 0.5s ease;
    -moz-transition: padding-left 0.5s ease;
    transition: padding-left 0.5s ease;

	.glyphicon {
		 font-size: 18px;
		 padding-left: 10px;
	}
}

#menu-toggle.toggled {
	padding-left: 250px;
}


@media (min-width:768px) {
    #wrapper.toggled {
        padding-left: 0;
    }

    .sidebar-wrapper {
		height: 100vh;
        float: left;
        width: $sidebar-width;
		top: $header-height;
		padding-bottom: 80px;

		&.scrolled {
			top: 0px !important;
		}
    }

    #wrapper.toggled .sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled .page-content {
        position: relative;
        margin-right: 0;
    }
}