.b-lazy {
    -webkit-transition: opacity 300ms ease-in-out;
       -moz-transition: opacity 300ms ease-in-out;
            transition: opacity 300ms ease-in-out;
             max-width: 100%;
               opacity: 0;
}
.b-lazy.b-loaded {
               opacity: 1;
}

.b-lazy.b-error {
	background-color: #888888;
	background: -webkit-linear-gradient(#888888, black);
    background: -o-linear-gradient(#888888, black);
    background: -moz-linear-gradient(#888888, black);
    background: linear-gradient(#888888, black); 
	opacity: 1;
}

.loading {
	width: 100%;
}
.loading::before {
	position: absolute;
	width: 10px;
	top: 6;
	left: 50%;
	margin-left: -5px;
	color: white;
	opacity: 0.5;
	content: "\01F4F7";
	font-size: 10em;
}

.tile {
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
	width: 100%;
	height: 100%;

	background-size: cover;
	background-color: black;
	background-position: center;
}

.tiles {
	overflow: hidden;
}

.sorted-tiles {
	position: relative;
	min-height: 80vh;
}

.label {
	background-color: white;
	color: black;
	z-index: 999;
	position: absolute;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 0px;
	top: 0px;
}

.tile-wrap {
	overflow: hidden;
	padding: 0;
	height: 200px;
	position: relative;

	.tile-title {
		position: absolute;
		width: 100%;
		opacity: 0.8;
		z-index: 1;
		min-height: 20%;
		padding-bottom: 15px;
		padding-top: 0px;
		padding-left: 10px;
		padding-right: 20px;
		transition: all 300ms ease-in-out;

		h5, h4, h3, p, span {
			text-shadow: 1px 1px black;
		}

		h3, h1 {
			margin-top: 5px;
		}

	}
	&.center {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&.bottom {
		.tile-title {
			bottom: 0px;
			background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 20%, rgba(255,255,255,0));
			background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 20%, rgba(255,255,255,0));
			background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 20%, rgba(255,255,255,0));
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, rgba(255,255,255,0));
		}
	}

	&.disabled {
		.tile-title {
			opacity: 0.5;
		}
	}

	&.feature {
		height: 90vh !important;

		.tile-title {
			bottom: 0px;
			min-height: auto;
		}
	}

	&.small {

		height: 120px;
		background-color: black;

		.label {
			top: auto;
			margin: 5px;
			font-size: 85%;
		}

		.tile-title{
			width: 230px;
			padding-left: 5px;
			height: 60px;
			margin-top: 60px;
			padding-right: 20px;
			min-height: 50px;
			background: rgba(0,0,0,0.8);

			h4 {
				margin: 0px;
			}

			h5 {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
	}

	&.thinner {
		height: 30vh !important;
	}

	&.eventhinner {
		height: 20vh !important;

		.tile-title {
			height: 100%;
			background: linear-gradient(to right, rgba(0,0,0,01), rgba(255,255,255,0))
		}
	}

	.bottom {
		bottom: 10px;
	}

	&:not(.disabled):hover .tile {
	@include hover-grow(1.02);
	}

	&:not(.disabled):hover .tile-title {
		opacity: 1;
		@include hover-grow(1.01);
	    text-decoration: none !important;
	}
}

.box {
	width: 100%;
	padding-bottom: 74.9%;
	height: 0;

	&.threebytwo {
		padding-bottom: 66.66% !important;
	}
}

.tile-wrap.smaller {
	&:hover .tile {
		@include hover-grow(1.04);
	    text-decoration: none;
	}
}


.darker .tile {
	&:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: black;
		opacity: 0.4;
  }
}

.even-darker .tile {
	&:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: black;
		opacity: 0.8;
  }
}

@media (min-width:768px) {


	.tile-wrap {
		
		height: 350px;

		&.full-width {
			.tile-title {
				width: 100% !important;
			}
		}

		.tile-title {
			text-align: left !important;
			padding-top: 10px;

			h4 {
				text-align: left !important;
			}

			padding-left: 15px;
		}

		.label {
			margin-left: 15px;
		}
	}

}
