---
layout: default
---

<article class="band container-fluid" id="band">
  <div class="row">
      <a href="/artists">
          <div class="col-xs-12 divider link purple">
              <h5>Back to artists</h5>
          </div>
      </a>
  </div>
  <header class="post-header row">
    <div class="banner">
        {% assign number_images = site.data.media.artists[page.machine_name]['medium'] | size %}
        {% assign images = site.data.media.artists[page.machine_name]['medium'] | sample: 4 %}

        {% if number_images > 4 %}
          {% for image in images %}
            {% assign full_pic = image | replace: " (Medium)","" %}
            {% assign url_encoded_image = image | url_encode | replace: '%2F', '/' | replace: '+', '%20' %}
            <div class="col-xs-12 col-md-6 col-lg-3" style="height: 100%; padding: 0px;">
              <a href="{{site.asset_url}}/{{full_pic | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" class="loading">
                <div class="banner b-lazy" data-src="{{site.asset_url}}/{{url_encoded_image}}"></div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          {% for image in site.data.media.artists[page.machine_name]['medium'] limit: 1 %}
            {% assign url_encoded_image = image | url_encode | replace: '%2F', '/' | replace: '+', '%20' %}
            <div class="col-sm-12" style="height: 100%; padding: 0px;">
              <a href="{{site.asset_url}}/{{full_pic | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}" target="_blank" class="loading">
                <div class="banner b-lazy" data-src="{{site.asset_url}}/{{url_encoded_image}}"></div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
    </div>
    <div class="text">
      <center>
        <h1 class="huge-header">{{page.title}}</h1>
        <ul class="sidebar-nav horizontal" style="padding: 0px;">
          <li>{% if page.facebook %}<a href="{{page.facebook}}" class="link light" title="Facebook" target="_blank">Facebook</a>{% endif %}</li>
          <li>{% if page.bandcamp %}<a href="{{page.bandcamp}}" class="link light" title="Bandcamp" target="_blank">Bandcamp</a>{% endif %}</li>
          <li>{% if page.soundcloud %}<a href="{{page.soundcloud}}" class="link light" title="Soundcloud" target="_blank">Soundcloud</a>{% endif %}</li>
          <li>{% if page.website %}<a href="{{page.website}}" class="link light" title="Website" target="_blank">Website</a>{% endif %}</li>
        </ul>
      </center>
    </div>
  </header>
  <div class="divider row" style="background-color: black; color: #c8c8c8;">
    <div class="col-xs-12">
      <h4>Past Gigs</h4>
    </div>
  </div>
  <div class="row tiles">
    {% for post in site.categories[page.machine_name] %}

        <div class="col-sm-12 col-md-6 col-lg-4 tile-wrap smaller bottom" style="height: 35vh; background-color: black;">
          <a class="tile-link box" href="{{ post.url }}#{{page.machine_name}}">
            <div class="tile-title">
              <h4><small>{{post.date | date: "%d %b %Y"}}</small></h4>
              <h4>{{post.title}}</h4>
              <h5>{{ post.venue }}</h5>
              <h5>
              {% if site.data.media.gigs[post.title][page.machine_name]['count'] > 1%}<span> {{site.data.media.gigs[post.title][page.machine_name]['count']}} 📷</span>{% endif %}
              {% if post.media[page.title].mp3 %}<span> {{post.media[page.title].mp3.size}} 🎧</span>{% endif %}
              {% if post.media[page.title].vid %}<span> {{post.media[page.title].vid.size}} 📹</span>{% endif %}
              </h5>
            </div>
            <div class="tile b-lazy" data-src="{{site.asset_url}}/{{site.data.media.gigs[post.title][page.machine_name]['images'][0] | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}">
            </div>
          </a>
        </div>
    {% endfor %}
  </div>

</article>