---
layout: default-slim-header
---

{% assign machine_name = page.title | downcase | replace:' ', '_' | replace: "'", "" | replace: ",", "" | replace: "!", "" %}

<article class="band container-fluid" id="band">
  <header class="post-header row">
    <div class="banner">

        {% assign number_images = site.data.media.artists[machine_name]['medium'] | size %}
        {% assign images = site.data.media.artists[machine_name]['medium'] | sample: 4 %}

        {% if number_images > 4 %}
          {% for image in images %}
          <div class="col-xs-12 col-md-6 col-lg-3" style="height: 100%; padding: 0px;">
            <div class="banner b-lazy" data-src="{{site.asset_url}}/{{image | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}"></div>
          </div>
          {% endfor %}
        {% else %}
          {% for image in site.data.media.artists[machine_name]['medium'] limit: 1 %}
          <div class="col-sm-12" style="height: 100%; padding: 0px;">
            <div class="banner b-lazy" data-src="{{site.asset_url}}/{{image | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}"></div>
          </div>
          {% endfor %}
        {% endif %}
    </div>
    <div class="text">
      <p>&nbsp;</p>
      <h1 class="huge-header">{{page.title}}</h1>
      <div class="social-links"><center>
        {% if page.facebook %}<a href="{{page.facebook}}" target="_blank" class="btn-facebook">Facebook</a>{% endif %}
        {% if page.bandcamp %}<a href="{{page.bandcamp}}" target="_blank" class="btn-bandcamp">Bandcamp</a>{% endif %}
        {% if page.soundcloud %}<a href="{{page.soundcloud}}" target="_blank" class="btn-soundcloud">Soundcloud</a>{% endif %}
      </center></div>
    </div>
  </header>
  <div class="divider row" style="background-color: black; color: white;">
    <div class="col-xs-12">
      <h3>Past Gigs</h3>
    </div>
  </div>
  <div class="row tiles">

    {% assign name = page.title | replace:' ','_' | downcase | replace: ",", "" | replace: "!", ""  %}

    {% for post in site.categories[name] %}

        <div class="col-sm-12 col-md-6 col-lg-4 tile-wrap smaller bottom" style="height: 35vh; background-color: black;">
          <a class="tile-link box" href="{{ post.url }}#{{machine_name}}">
            <span class="label label-default">{{post.date | date: "%d %b %Y"}}</span>
            <div class="tile-title">
              <h4 style="margin-top: 10px;">{{post.title}}</h4>
              <h5>{{ post.venue }}</h5>
              <h5>
              {% if site.data.media.gigs[post.title][machine_name]['count'] > 1%}<span> {{site.data.media.gigs[post.title][machine_name]['count']}} 📷</span>{% endif %}
              {% if post.media[page.title].mp3 %}<span> {{post.media[page.title].mp3.size}} 🎧</span>{% endif %}
              {% if post.media[page.title].vid %}<span> {{post.media[page.title].vid.size}} 📹</span>{% endif %}
              </h5>
            </div>
            <div class="tile b-lazy" data-src="{{site.asset_url}}/{{site.data.media.gigs[post.title][machine_name]['images'][0] | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}">
            </div>
          </a>
        </div>
    {% endfor %}
  </div>

</article>