---
layout: default-container
---

<div class="row blog-header">
    <div class="col-xs-12">
        <h1>{{page.title}}</h1>
        {% if page.date and page.author %}
        <h4>{{page.date | date_to_long_string}} by {{page.author}}</h4>
        {% endif %}
        <p>
        {% for tag in page.tags %}
            <small class="label label-blog">{{tag}}</small>
        {% endfor %}
        </p>
        <div class="text-wrapper">
            {% include social_buttons.html %}
        </div>
    </div>
</div>

<div class="row blog-post">
    <div class="col-xs-12">
        {{content}}
    </div>
</div>