---
layout: blog
---

<div class="row blog-image-header">
    <img src="/assets/img/blog/{{page.filename}}/cover (Medium).JPG" style="width: 100%;" alt="Cover">
</div>

<div class="row blog-header">
    <div class="col-xs-12">
        <h1>{{page.title}}</h1>
        <h4>By {{page.author}} on {{page.date | date_to_long_string}}</h4>
        <p>
        {% for tag in page.tags %}
            <small class="label label-blog">{{tag}}</small>
        {% endfor %}
        </p>
    </div>
</div>

{{content}}