---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html slim="true" not_fixed="true" %}
    {% if page.author %}
      {% include blog_header.html %}
    {% endif %}
    <div class="page-wrapper" style="{% unless page.background_color %} background-color: #222222; {% else %} background-color: {{page.background_color}}; {% endunless %}">
      <div class="container {% if page.layout == 'blog_post' or page.title == 'Blog' %}blog{% endif %}" style="min-height: 80vh;">
        <div class="row">
          <div class="col-xs-12">
              {{ content }}
            </div>
          </div>
        </div>
    </div>
    {% if page.author %}
      {% include blog_footer.html %}
    {% endif %}
    {% include footer.html %}
  </body>
</html>
