---
layout: compress
---

<!DOCTYPE html>
<html>
  {% if page.layout == "gig" %}
    {% if page.layout_version == "2.0" %}
      {% assign new_layout = true %}
    {% endif %}
  {% endif %}
  {% include head.html %}

  <body>
    {% include header.html %}
      <div class="page-wrapper {% if page.layout == 'gig' %} gig-wrapper {% endif %} {% if page.fixed_header %} fixed-header {% endif %}" style="background-color: #222222;">
        {% if page.layout == "gig" %}
          {% if new_layout == true %}
            {% include gig_header.html %}
          {% endif %}
          {% if new_layout != true %}
            {% include gig_sidebar_left.html %}
          {% endif %}
          <div class="page-content" style="{% if new_layout == true %} margin-left: 0px !important; {% endif %}">
              {{ content }}
              {% if new_layout == true %}
                {% include gig_footer.html %}
              {% endif %}
          </div>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    {% include footer.html %}
  </body>
</html>
