---
layout: default
---

{% assign machine_name = page.title| downcase | machine_name %}

<article class="post container-fluid" id="venue">
    <div class="row sticky" style="z-index: 2000;">
        <a href="/venues">
            <div class="col-xs-12 divider link purple">
                <h5>Back to venues</h5>
            </div>
        </a>
    </div>
    <header class="post-header row">
      <div class="banner">
        <div id="map" style="height: 100%; width: 100%; background-color: #222222;" data-lat="{{page.lat}}" data-lng="{{page.lng}}"></div>
        <div class="text">
            <center>
            <h1 class="huge-header">{{page.title}}</h1>
            <ul class="sidebar-nav horizontal" style="padding: 0px;">
                {% if page.facebook %}<li><a href="{{page.facebook}}" class="btn btn-default" title="Facebook" target="_blank">Facebook</a></li>{% endif %}
                {% if page.website %}<li><a href="{{page.website}}" class="btn btn-default" title="Website" target="_blank">Website</a></li>{% endif %}
            </ul>
            <p class="description">{{page.description}}</p>
            </center>
        </div>
      </div>
    </header>
    <div class="divider row sticky" style="background-color: black; color: #c8c8c8; z-index: 2000; top: 32px;">
        <div class="col-xs-12 no-padding">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                <li class="active"><a data-toggle="tab" href="#gigs" role="tab">Gigs</a></li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="row tiles tab-pane fade in active" id="gigs">
            {% for tile in site.posts %}
                {% if tile.venue and tile.venue == page.title %}
                    {% include gig_tile.html class="smaller bottom" sizing="col-sm-12 col-md-6 col-lg-4" category="venue" hide_venue="true" %}
                {% endif %}     
            {% endfor %}
        </div>
    </div>

</article>