---
layout: default-slim-header
---

{% assign machine_name = page.title| downcase | machine_name %}

<article class="post container-fluid" id="venue">

    <header class="post-header row">
      <div class="banner">
        <div id="map" style="height: 100%; width: 100%; background-color: #222222;" data-lat="{{page.lat}}" data-lng="{{page.lng}}"></div>
        <div class="overlay">
            <h1 class="huge-header">{{page.title}}</h1>
            <div class="social-links"><center>
                {% if page.facebook %}<a href="{{page.facebook}}" target="_blank" class="btn-facebook">Facebook</a>{% endif %}
                {% if page.website %}<a href="{{page.website}}" target="_blank" class="btn-primary">Website</a>{% endif %}
            </center></div>
        </div>
      </div>
    </header>
    <div class="divider row" style="background-color: black; color: white;">
        <div class="col-xs-12">
        <h3>Past Gigs</h3>
        </div>
    </div>
    <div class="row tiles">
        {% for post in site.posts %}
            {% if post.venue and post.venue == page.title %}

                <div class="col-sm-6 col-md-3 col-lg-3 tile-wrap smaller bottom" style="height: 35vh; background-color: black;">
                    <a class="box" href="{{ post.url }}">
                        <span class="label label-default">{{post.date | date: "%d %b %Y"}}</span>
                        <div class="tile-title">
                            <h4>{{post.title}}</h4>
                            <h5>
                            {% for band in post.media %}
                                <span>{{band[0]}}</span>{% if forloop.last == false %}, {% endif %}
                            {% endfor %}
                            </h5>
                        </div>
                        <div class="tile b-lazy" data-src="{{site.asset_url}}/assets/img/{{post.title | url_encode | replace: '%2F', '/' | replace: '+', '%20' }}/cover.jpg"></div>
                    </a>
                </div>
            {% endif %}     
        {% endfor %}
    </div>

</article>